
:root { 
  --padding: 11.5px;
  --nav-hover-color: #c1d5e0;         /* Couleur lors du survol des liens */
  --nav-ul-color: #808e95;            /* Couleur de la navBar */
  --aboutWidth: 280px;
  --maxWidth: 815px;
}

/*
  WebApp Identity Colors:
  background: linear-gradient(to right, #d51c29, #b72533, #9b1e31);
*/

* {
  box-sizing: border-box;
}

html { /* Pour activer la Scroll Bar en tout temps, ce qui empêche 
  la NavBar de bouger en fonction de son apparition */
  overflow-y: scroll;
}

body {
  background-color: #b0bec5;
  font-family: Arial, Helvetica, sans-serif;
  max-width: var(--maxWidth);
  margin: 60px auto 50px auto;
  padding: 5px;
}

footer {
  margin-top: 20px;
  padding: 10px 0;
  background-color: #e2f1f8;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

    /* Section pour les DIV de contenu (<body>) */

i:hover { /* Les termes en anglais ainsi que ceux reliés à la terminologie de Logisim */
  color: white;
}

.specialStrong {
  border: 1px solid red;
  width: 40%;
  padding: 15px;
  margin: auto;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.topLine {
  border-top: 1px solid black;
  padding-top: 15px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 50px;
}

dt {
  font-weight: bold;
  font-style: italic;
}

.special {
  border: 1px solid red;
  max-width: 80%;
  margin: auto;
  padding: 10px;
}

.special > img {
  display: block;
  margin: 10px auto 0 auto;
  max-width: 240px;
}

body > div > img {
  display: block;
  margin: 0 auto 10px auto;
  max-width: 320px;
}

.clearFloat {
  clear: both;
}

.floatR {
  float: right;
  margin: 5px;
}

    /* Section pour les tableaux (<table>) */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #C9C9C9;
}

tr:first-child { /* Couleur de la première ligne (titres) */
  background-color: #9C9C9C;
}

   /* Section pour la NAVBAR (barre de navigation horizontale fixée) */

nav {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  background-color: var(--nav-ul-color);
  padding: var(--padding);
  margin: 0;
}

nav a {
  text-decoration: none;
  padding: 11.5px; /* var(--padding); */
  color: #000; /* Pour changer la couleur des liens de la NavBar */
}

nav .active {
  background-color: var(--nav-hover-color);
}

nav li {
  display: inline;
  padding: var(--padding); /* Pour enlever le blanc entre le ACTIVE et le HOVER, ajouter " 0px" */
}

#unique {
  padding: 0 !important; /* FIX: Pour guarder la grosseur normale de la navBar */
}

nav li:hover {
  background-color: var(--nav-hover-color);
}

nav a:active {
  color: red;
}

    /* Section pour ABOUT */

.about .justify {
  width: var(--aboutWidth);
}

.rounded {
  display: block;
  border-radius: 50%;
  width: var(--aboutWidth);
  text-align: center;
}

.petit {
  font-size: 0.9em;
}

.about {
  display: inline-block;
  padding: 0 35px;
}

.about > h2, .about > h3 {
  text-align: center;
}

.about a {
  font-size: 2em;
  text-decoration: none;
}


    /* Section pour le menu dynamique pour petits écrans */

.navBar .icon {
  display: none; /* Hide the link that should open and close the navBar on small screens */
}

/* When the screen is less than 800 pixels wide */
@media screen and (max-width: 800px) {
  .navBar li {
    display: none; /* Cacher les liens */
  }
  .navBar a.icon, .navBar a, #unique { /* Le ".navbar a" sert a rendre l'entièreté de la ligne clickable */
    display: block; /* Montrer l'icone de menu */
  }
  nav ul {
    padding: 0; /* Pour ajuster la hauteur de la NavBar une fois minimisée*/
  }
  .navBar.responsive li { /* The "responsive" class is added to the navBar with JavaScript when the user clicks on the icon. */
    display: block; /* Display links vertically instead of horizontally */
    padding: 0;
  }
}